{{outlet}}

<section class="pagination">
  <ul>
    <li>
      {{#link-to 'incidents.messages' 'previous_week' class="left"}}
        « Previous Week
      {{/link-to}}
    </li>
    <li>
      <a href="#" class="right">Next Week »</a>
    </li>
  </ul>
</section>