{{outlet}}

<section class="pagination">
  <ul>
    <li>
      <a href="#" class="left">« Previous Week</a>
    </li>
    <li>
      <a href="#" class="right">Next Week »</a>
    </li>
  </ul>
</section>