<h3>Status Messages</h3>

{{log model}}

<ul>
  {{#each model as |incident|}}
    <li>
      <h4>{{incident.time}}</h4>
      <div>
        <p>{{incident.level}}</p>
        <p>{{incident.message}}</p>
      </div>
    </li>
  {{/each}}
</ul>