=roboto($weight: 400)
  font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: $weight

=helvetica($weight: 400)
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: $weight
