=roboto($weight: 400)
  font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: $weight

=helvetica($weight: 400)
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: $weight

=link-color($base-color: #39c, $hover-color: #036)
  +color($base-color)

  &:hover
    +color($hover-color)

.tabs
  +box(100%, 36)
  +border(b, #e8e8e8)

  li
    +float(l)
    +margin(r, 2)

    &.selected
      +borders(#e8e8e8)
      +bcolor($white)
      border-bottom: 0 none
      border-radius: 3px 3px 0 0

      a
        +color(#333)

  a
    +fsize(1.3)
    +fweight(700)
    +lheight(36)
    +box(auto, 36)
    +color(#999)
    +paddings(0, 15)
