=roboto($weight: 400)
  font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: $weight

=helvetica($weight: 400)
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: $weight

=link-color($base-color: #39c, $hover-color: #036)
  +color($base-color)

  &:hover
    +color($hover-color)
