<section class="pagination">
  <ul>
    <li>
      {{#link-to 'incidents.index' model.previous class="left"}}
        « Previous Week
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'incidents.index' model.next class="right"}}
        Next Week »
      {{/link-to}}
    </li>
  </ul>
</section>