<section class="pagination">
  <ul>
    <li>
      {{#link-to 'incidents.messages' 'previous_week' class="left"}}
        « Previous Week
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'incidents.messages' 'next_week' class="right"}}
        Next Week »
      {{/link-to}}
    </li>
  </ul>
</section>