<section class="page-title-section">
  <h3 class="left">Status Messages</h3>
  {{#link-to 'status.dashboard' 'pass_day' class="right page-link"}}
    « Dashboard
  {{/link-to}}
</section>

{{status-message model=model.incidents endDate=model.endDate}}

{{status-pagination model=model.pagination}}